/.DS_Store
/__pycache__
/data/*
/data/.DS_Store
!/data/dataset/
/data/dataset/.DS_Store
/data/dataset/JSON
/data/dataset/JSON.DS_Store
/data/dataset/PNGS
/data/dataset/PNGS/.DS_Store
/yolov8n-pose.pt
/Landmarks_definitions.pdf
/runs
/documents
/eksperimenti*
/code_archive